body, html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;

}
#banner {
  display: inline;
}
figure {

  padding: inherit;
  align-content: start;
  display: grid;
  align-items: top;
  grid-gap: 20px;
  grid-template-columns: 64px 420px;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  /* height: 64px; */
}
img {
  align-self: center;
}
figcaption {
  align-self: flex-start;
  
}
h1 {
  text-transform: uppercase;
  max-width: 420px;
}
.light-font {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: 300;
  
}
.italic {
  font-style: italic;
  
}
  

section {
  max-width: 780px;
  margin: 0 auto;
}
code {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  display: block;
  background : rgba(127,127,127, .2);
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: -1px;
  box-shadow: 1px 1px darkslategray;
}